*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 60px auto;
  text-align: center;
  background-color: #ff9295;
  -webkit-transition: background-color 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
  transition: background-color 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
}

.toggle {
  position: relative;
  left: 50%;
  padding-top: 10%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.toggle:before {
  content: 'ON';
  position: relative;
  left: -56px;
  top: 30px;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
}

.toggle:after {
  content: 'OFF';
  position: relative;
  right: -46px;
  top: 30px;
  font-size: 18px;
  font-weight: 900;
  color: rgba(253, 15, 21, 0.31);
}

.toggle label {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #FD1015;
  border-radius: 50px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px #ef4247;
          box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px #ef4247;
  -webkit-tap-highlight-color: transparent;
}

.toggle label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
  transition: width 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
  height: 42px;
  width: 42px;
  background-color: #fd0f14;
  border-radius: 46px;
  -webkit-box-shadow: inset 0px 0px 0px 8px #fff;
          box-shadow: inset 0px 0px 0px 8px #fff;
}

.toggle input {
  display: none;
}

.toggle input:checked + label {
  background-color: #57de72;
  -webkit-box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px rgba(3, 132, 28, 0.541176);
          box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px rgba(3, 132, 28, 0.541176);
}

.toggle input:checked + label:before {
  width: 10px;
  background-color: #fff;
}

.on {
  background-color: #6fc57c;
}

.on .toggle:before {
  color: rgba(62, 160, 81, 0.89);
}

.on .toggle:after {
  color: #fff;
}


.team{
   
    margin-bottom: 3rem;
    padding: 4rem 0;
}
.subsystem, .dark-head{
    margin-top: 20px;
    padding:7px;
    color:#fff;
}
.pr, .mech, .software, .electronics{
    padding: 0 2rem;
}
.dark{
    background-color:#26272b;
    color:#737373;
}

.member{
    margin-top:2rem;
}
.member-card {

    width: 300px;
    height: 300px;
    margin: 4rem 0;
    perspective: 500px;
}

.content {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;

}

.round {
    display: inline-block;
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.name-front {
    font-size: 1.5rem;
    padding: 5px;
}

.subsystem-name {
    padding-bottom: 10px;
}

.round-back {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    padding: 5px;
}

.name-back {
    font-size: 1rem;
    padding: 5px;
}

.description {

    text-align: left;
}


.member-card:hover .content {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.front,
.back {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    backface-visibility: hidden;
}

.back {
    /* background-color: grey; */
    transform: rotateY(180deg);
}

/*# sourceMappingURL=style.css.map */